<h1>Welcome to BoatConnection!</h1>
<h2>Current boat offers</h2>
<%= @offers.each do |offer| %>
  <%= boat = @boats.where(:id => :boat_id)%>
  <p><%= boat.name %> </p>
  <p><%= offer.location %></p>
  <p><%= offer.price %></p>
  <p><%= offer.period_start %> - <%= offer.period_end %></p>
<% end %>
<%= debug @offers %>
