<div class="container">
    <%= link_to "Add a new user", new_user_path, class: "btn btn-default btn-lg" %>
</div>

<div class="container">
  <% @users.each do |user| %>
    <h2><%= link_to user.first_name, user %></h2>
    <p><%= user.last_name %></p>
    <p><%= user.email %></p>
    <p><%= user.password %></p>
    <p class="btn btn-default" role="button"><%= link_to "View details >", user %></p>
  <% end %>
</div>
