<h2>All Users</h2>
<%= link_to "Add User", new_user_path, class: "btn btn-info btn-xs" %>
  <% @users.in_groups_of(3).each do |users| %>
    <div class="row">
      <% users.compact.each do |u| %>
        <div class="col-md-4">
          <h2><%= link_to u.first_name, u %></h2>
          <p><%= u.last_name %></p>
          <p><%= u.email %></p>
          <p><%= u.password %></p>
          <p class="btn btn-default" role="button"><%= link_to "View details >", u %></p>
        </div>
      <% end %>
    </div>
  <% end %>
