<% content_for :jumbtron do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Sail anywhere!</h1>
      <p>Do you not own a boat but you want to sail? Or do you own a boat that you don't use for a lot of the time? Rent your boat here!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      <%= link_to "Add a new boat", new_boat_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>
<% end %>

<!-- <% columncount = 1
   if columncount-1 % 3 == 0
     row = "<div class='row' "
     endrow = "</div>"
   end
 %> -->
    <% @boats.each do |boat|   %>
    <!-- <%= row %> -->
      <div class="col-md-3 card">
        <div style="background-image: url(<%= image_path boat.image %>)" class="boat" >
          <div class="cont">
            <h2><%= link_to boat.name, boat %></h2>
          </div>
        </div>
        <!-- <ul>
        <% boat.offers.each do |offer| %>
           <li><strong>Price:</strong> <%= offer.price %>, from <%= offer.period_start %> until <%= offer.period_end %>. Pick up: <%= offer.location %></li>
        <% end %>
       </ul> -->
     </div>
   <!-- <%= endrow
   columncount += 1%> -->
  <% end %>
  </div>
</div>
