<div class="row">
  <div class="col-md-3">
    <%= image_tag @boat.image %>
  </div>
  <div class="col-md-9">
    <h1><%= @boat.name %></h1>
    <%= link_to "Create Offer", new_offer_path, class: "btn btn-info btn-xs" %>
    <p><%= @boat.boat_type %></p>
    <p>Capacity: <%= @boat.capacity %></p>
    <p>Drive: <%= @boat.drive %></p>
    <ul>
    <% @boat.offers.each do |offer| %>
      <li>Price: <%= offer.price %>, from <%= offer.period_start %> until <%= offer.period_end %>. Pick up: <%= offer.location %> <%= link_to "Make Reservation", new_reservation_path %></li>
    <% end %>
  </ul>
    <div class="navigation">
      <%= link_to "Back", root_path, class: "btn btn-default" %>
      <%= link_to "Edit", edit_boat_path(@boat), class: "btn btn-primary" %>
      <%= link_to "Delete", boat_path(@boat), method: :delete, class: "btn btn-default" %>
    </div>
  </div>
</div>
